In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('NCHS_-_Death_rates_and_life_expectancy_at_birth.csv')

In [5]:
print(df.head())

   Year       Race         Sex  Average Life Expectancy (Years)  \
0  2015  All Races  Both Sexes                              NaN
1  2014  All Races  Both Sexes                             78.9
2  2013  All Races  Both Sexes                             78.8
3  2012  All Races  Both Sexes                             78.8
4  2011  All Races  Both Sexes                             78.7

   Age-adjusted Death Rate
0                    733.1
1                    724.6
2                    731.9
3                    732.8
4                    741.3

In [77]:
df['Average Life Expectancy (Years)'].max()

81.4

In [79]:
df['Year'][df['Average Life Expectancy (Years)'] == 81.4].value_counts()

2014    1
2013    1
2012    1
Name: Year, dtype: int64

In [82]:
df['Average Life Expectancy (Years)'].mean()

64.11729468599037

In [81]:
df['Average Life Expectancy (Years)'].min()

29.1

In [80]:
df['Year'][df['Average Life Expectancy (Years)'] == 29.1].value_counts()

1904    1
Name: Year, dtype: int64

In [13]:
df.groupby('Sex').mean()

              Year  Average Life Expectancy (Years)  Age-adjusted Death Rate
Sex
Both Sexes  1957.5                        64.080580              1601.933046
Female      1957.5                        66.735362              1424.902586
Male        1957.5                        61.535942              1815.394828

In [15]:
df.groupby('Race').mean()

             Year  Average Life Expectancy (Years)  Age-adjusted Death Rate
Race
All Races  1957.5                        66.587246              1488.574138
Black      1957.5                        58.368696              1896.114943
White      1957.5                        67.395942              1457.541379

In [20]:
df.groupby(['Year', 'Sex'])['Average Life Expectancy (Years)'].mean()

Year  Sex
1900  Both Sexes    42.633333
      Female        43.500000
      Male          41.800000
1901  Both Sexes    44.066667
      Female        45.633333
      Male          42.600000
1902  Both Sexes    46.000000
      Female        47.866667
      Male          44.300000
1903  Both Sexes    44.833333
      Female        46.366667
      Male          43.433333
1904  Both Sexes    42.133333
      Female        43.766667
      Male          40.633333
1905  Both Sexes    43.033333
      Female        44.633333
      Male          41.500000
1906  Both Sexes    43.633333
      Female        45.366667
      Male          42.000000
1907  Both Sexes    42.733333
      Female        44.766667
      Male          40.900000
1908  Both Sexes    45.833333
      Female        47.366667
      Male          44.400000
1909  Both Sexes    46.766667
      Female        48.433333
      Male          45.200000
                      ...
2006  Both Sexes    76.500000
      Female        79.233333
      Male          73.633333
2007  Both Sexes    76.800000
      Female        79.500000
      Male          73.933333
2008  Both Sexes    77.000000
      Female        79.600000
      Male          74.200000
2009  Both Sexes    77.333333
      Female        79.933333
      Male          74.600000
2010  Both Sexes    77.566667
      Female        80.100000
      Male          74.833333
2011  Both Sexes    77.666667
      Female        80.200000
      Male          75.033333
2012  Both Sexes    77.800000
      Female        80.333333
      Male          75.133333
2013  Both Sexes    77.800000
      Female        80.333333
      Male          75.133333
2014  Both Sexes    77.866667
      Female        80.400000
      Male          75.233333
2015  Both Sexes          NaN
      Female              NaN
      Male                NaN
Name: Average Life Expectancy (Years), Length: 348, dtype: float64

In [57]:
df.groupby(['Year', 'Race'])['Average Life Expectancy (Years)'].mean()

Year  Race
1900  All Races    47.300000
      Black        33.000000
      White        47.633333
1901  All Races    49.100000
      Black        33.733333
      White        49.466667
1902  All Races    51.566667
      Black        34.633333
      White        51.966667
1903  All Races    50.533333
      Black        33.133333
      White        50.966667
1904  All Races    47.633333
      Black        30.866667
      White        48.033333
1905  All Races    48.733333
      Black        31.333333
      White        49.100000
1906  All Races    48.800000
      Black        32.866667
      White        49.333333
1907  All Races    47.700000
      Black        32.533333
      White        48.166667
1908  All Races    51.133333
      Black        34.900000
      White        51.566667
1909  All Races    52.133333
      Black        35.733333
      White        52.533333
                     ...
2006  All Races    77.766667
      Black        73.333333
      White        78.266667
2007  All Races    78.066667
      Black        73.700000
      White        78.466667
2008  All Races    78.133333
      Black        74.166667
      White        78.500000
2009  All Races    78.466667
      Black        74.600000
      White        78.800000
2010  All Races    78.633333
      Black        74.966667
      White        78.900000
2011  All Races    78.700000
      Black        75.233333
      White        78.966667
2012  All Races    78.800000
      Black        75.400000
      White        79.066667
2013  All Races    78.800000
      Black        75.400000
      White        79.066667
2014  All Races    78.900000
      Black        75.533333
      White        79.066667
2015  All Races          NaN
      Black              NaN
      White              NaN
Name: Average Life Expectancy (Years), Length: 348, dtype: float64

In [22]:
df.describe()

             Year  Average Life Expectancy (Years)  Age-adjusted Death Rate
count  1044.00000                      1035.000000              1044.000000
mean   1957.50000                        64.117295              1614.076820
std      33.50112                        11.786490               678.013357
min    1900.00000                        29.100000               616.700000
25%    1928.75000                        56.600000              1040.250000
50%    1957.50000                        66.600000              1541.400000
75%    1986.25000                        73.600000              2073.025000
max    2015.00000                        81.400000              3845.700000

In [29]:
df.groupby(['Year'])['Average Life Expectancy (Years)'].max()

Year
1900    48.7
1901    51.0
1902    53.8
1903    52.5
1904    49.5
1905    50.6
1906    51.4
1907    50.4
1908    53.3
1909    54.2
1910    52.0
1911    54.9
1912    56.2
1913    55.7
1914    57.5
1915    57.5
1916    55.2
1917    55.3
1918    43.2
1919    57.4
1920    55.6
1921    62.9
1922    61.9
1923    59.6
1924    63.4
1925    62.4
1926    59.6
1927    63.9
1928    60.0
1929    60.3
        ...
1986    78.8
1987    78.9
1988    78.9
1989    79.2
1990    79.4
1991    79.6
1992    79.8
1993    79.5
1994    79.6
1995    79.6
1996    79.7
1997    79.9
1998    80.0
1999    79.9
2000    79.9
2001    80.0
2002    80.1
2003    80.2
2004    80.5
2005    80.5
2006    80.7
2007    80.9
2008    80.9
2009    81.2
2010    81.3
2011    81.3
2012    81.4
2013    81.4
2014    81.4
2015     NaN
Name: Average Life Expectancy (Years), Length: 116, dtype: float64

In [54]:
df['Average Life Expectancy (Years)'][df['Year'] == 2000].max()

79.9

In [55]:
df['Average Life Expectancy (Years)'][df['Year'] == 2000].mean()

75.31111111111112

In [56]:
df['Average Life Expectancy (Years)'][df['Year'] == 2000].min()

68.2

In [88]:
df['Age-adjusted Death Rate'].max()

3845.7

In [92]:
df['Year'][df['Age-adjusted Death Rate'] == 3845.7].value_counts()

1904    1
Name: Year, dtype: int64

In [94]:
df['Age-adjusted Death Rate'].min()

616.7

In [95]:
df['Year'][df['Age-adjusted Death Rate'] == 616.7].value_counts()

2014    1
Name: Year, dtype: int64